body{
    background-image: url("../img/uefa.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

#div1{
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

h1{
    font-family: Arial;
    font-size: 35px;
    font-weight: bolder;
    color: #308007;
    -webkit-text-stroke: 1px black;
}

#formulario {

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    font-family: "Arial Black";
    text-align: center;
    line-height: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    align-items: center;


}

#boton{

    padding: 17px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    background-color: #1883ba;
}

#imagenAbajo{
    position: relative;
    top: 70px;

}


/*
#formulario{
    background-repeat: no-repeat;
    background-size: 100px;
    background-size: 25% 25%;
}
*/


#layout{
    /*
    position:relative;
    top: 275px;
    left:750px; */

}


.navigation {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    background: black;
}

.bottons{
    position : sticky;
    left :1105px;
    display: flex;
    flex-flow: row;
    list-style: none;
    font-size: 33px;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #1565C0;
}

